#
# Copyright 2023 The Sigstore Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 14
    groups:
      go-deps:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions-deps:
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    directory: "/java"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    groups:
      protobuf:
        patterns:
          - "*protobuf*"
      java-deps:
        patterns:
          - "*"
        exclude-patterns:
          - "*protobuf*"
  - package-ecosystem: "docker"
    directory: "/protoc-builder"
    schedule:
      interval: "monthly"
    groups:
      docker-refs:
        patterns:
          - "*"
  - package-ecosystem: "gomod"
    directory: "/protoc-builder/hack/go"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    groups:
      go-deps:
        patterns:
          - "*"
  - package-ecosystem: "pip"
    directory: "/protoc-builder/hack"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    groups:
      python-deps:
        patterns:
          - "*"
  - package-ecosystem: "cargo"
    directory: "/gen/pb-rust"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    groups:
      rust-deps:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "/protoc-builder/hack"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 14
    groups:
      js-deps:
        patterns:
          - "*"
  # this monitors Homebrew builds of protobuf compiler to monitor protobuf releases;
  # but still downloads the release asset from GitHub (since it is statically linked)
  # the "protobuf" label triggers a workflow to update versions.mk
  - package-ecosystem: "docker"
    directory: "/protoc-builder/hack"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
      - "protobuf"
