#
# Copyright 2023 The Sigstore Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Check Typescript build

permissions:
  contents: read

on:
  push:
    paths:
      - '**.proto'
      - 'gen/pb-typescript/**'
  pull_request:
    paths:
      - '**.proto'
      - 'gen/pb-typescript/**'

jobs:
  build:
    strategy:
      matrix:
        node-version:
          - 16.14.0
          - 16.x
          - 18.17.0
          - 18.x
          - 20.5.0
          - 20.x
      fail-fast: false
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: gen/pb-typescript

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Setup node ${{ matrix.node-version }}
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: gen/pb-typescript/package-lock.json
      - name: Build
        run: |
          npm ci
          npm run build
